.activities{
    margin: 0 15%;
    display: flex;
    flex-direction: column;
}
.activity{
    display: flex;
    border: 1px solid #f1f1f1;
    width: 100%;
    border-radius: 0.5rem;
    margin: 1.5rem 0;
}
.activity img{
    width:calc(30% - 1rem);
	aspect-ratio:3/1;
    border-radius: 0.5rem;
    margin: 0.5rem;
}
.activity-info{
    margin: 0.5rem 2.5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 65%;
}
.activity-info h2{
    margin-bottom: 0;
    font-size: 1.375rem;
    text-transform: none;
}
.activity-listing-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.packege-no {color: #63686B;}
.num-pack{
	display: inline-flex;
    justify-content: center; 
    align-items: center;
    width: 2.5rem; 
    height: 2.5rem; 
    background-color: orange; 
    color: white; 
    border-radius: 50%;
	margin-right: .5rem;
	font-weight: 500;
}
ctivity-info-division{
    width: 90%;
    margin: 0;
    border-top: 1px solid #f1f1f1;
}
.activity-brief{
    font-size: 0.925rem;
    color: #63686B;
    margin: 0.5rem 0;
}
a.view-details{
    display: inline-block;
	text-align: center;
	width:6.5rem;
    margin-right: 1rem;
    margin-top: 1rem;
	padding: .5rem 1.25rem;
	border-radius: .5rem;
	text-decoration: none;
	color: #fff;
	background-color: #FB6B20;
	border:2px solid #FB6B20;
	transition: background-color 0.3s ease;
}
a.view-details:hover{
	background-color: #FFF;
	border:2px solid #FB6B20;
	color: #FB6B20;
}

.more-details{
    color: rgb(32, 151, 248);
    cursor: pointer;
}