.home-banner-section {
    width: 100%;
    height: 40rem;
    background-image: url("../images/banner/home-banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banner-content-section {
    width: 56rem;
    height: auto;
    /* background-color: rgba(0, 0, 0, 0.137); */
    padding-top: 13%;
    padding-left: 5%;
}

.banner-h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 6.25rem;
    line-height: 6.875rem;
    color: white;
    text-transform: uppercase;
}

.line-divider {
    width: 55rem;
    height: 1px;
    background-color: white;
    margin-top: 3%;
}

.banner-text-button-section {
    width: 100%;
    height: auto;
    margin-top: 1.1rem;
    display: flex;
}

.activity-location-banner {
    width: 38rem;
    align-items: center;
    justify-content: center;
}

.activity-location-banner p {
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.438rem;
    align-items: center;
}

.location-banner-text {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.location-banner-text p {
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    margin-top: 1%;
    padding-left: 1.5%;
}

.book-package-button-banner a {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.125rem;
    text-decoration: none;
    width: 14.5rem;
    height: 4rem;
    border-radius: 3.125rem;
    background-color: #FC6B21;
    border: 2px solid #FC6B21;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.7%;
}

.book-package-button-banner a:hover {
    background-color: #ffffff;
    border: 2px solid #FC6B21;
    color: #FC6B21;
    transition: background-color 0.4s ease, color 0.4s ease, border-color 0.4s ease;

}

/* .book-package-button-banner{
    width: 14.5rem;
    height: 4rem;
    border-radius: 50px;
    background-color: #FC6B21;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.7%;
} */
.center-propagation {
    width: 100%;
    height: 6.25rem;
    justify-content: center;
    align-items: center;
    margin-top: -3.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mouse-image-section {
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 6.25rem;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}