.client-testimonial{
    display: flex;
    margin: 1% 10%;
    padding: 1rem;
    border: 1px solid #f1f1f1;
    border-radius: 0.5rem;
    /* flex-direction: column; */
}

.testimonial-image{
    border-radius: 0.5rem;
    width: 100%;
    height: 50%;
}

.testimonial-content{
    margin-left: 0.5rem;
}
.page-h2-subheading{
    color: #515151;
    font-size: 1.1rem;
}
@media screen {
    
}