.contact-us-heading{
    margin-bottom: 1rem;
}
.contact-us-upperheading{
  text-transform: none;
  font-family: 'Pacifico', cursive;
  font-size: 1.875rem;
  font-weight: 100;
  color: #FC6B21;
  text-align: center;
  text-transform: lowercase;
  margin-bottom: 0;
}
.contact-us-belowheading{
    text-transform: none;
    margin-bottom: 0.5rem;
    font-size: 2.25rem;
    color: #060000;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}
.contact_us-description-line{
    width: 70%;
    margin: 2% 15%;
    border-top:1px solid #f1f1f1;
}
.contact-us-details{
    display: flex;
    margin: 0 15%;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}
.detail{
    min-height: 12rem;
    padding: 1rem;
    border: 1px solid #f1f1f1;
    border-radius: 0.5rem;
}
.detail p{
    color: #63686B;
}
.detail a{
    display: block;
    color: #63686B;
}
.detail a:hover{
    color: #FC6B21;
    transition: background-color 0.4s ease, color 0.4s ease, border-color 0.4s ease;
}
.detail-heading{
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    color: #000000;
}
.map-container{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 2rem 0;
    padding: 2rem 0;
    background-color: #f7f7f7;
}
.detail h3{
    margin-bottom: 0.5rem;
}
.detail a{
    line-height: 2rem;
}
.detail p{
    line-height: 2rem;
}
.add-img{
    transform: translate(4px, 4px);
}
.detail-info{
    width: 100%;
    margin: 0 0.5rem;
}

.contact-link {
  color: inherit; /* Maintains the same text color */
  text-decoration: none; /* Removes underline */
  transition: color 0.3s ease;
}

.contact-link:hover {
  color: #0066cc; /* Change to your preferred hover color */
  text-decoration: underline; /* Optional: add underline on hover */
}