.footer {
    /* width: 100%; */
    height: auto;
    margin: 4%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
 }
/* Footer Company Details */
.company-details {
    width: 20%;
    height: auto;
	margin-right: 4%;
}
	.company-details p {
		margin-top: 1.5rem;
		font-family: 'IBM Plex Serif', serif;
		font-size: 0.938rem;
		font-weight: 300;
		font-style: italic;
		color: #596370;

	}

	.media-icons {
		width: 80%;
		height: auto;
		margin-top: 8%;
		display: flex;
		flex-direction: row;
		gap: .875rem;
	}
/* Footer Links */
.footer-links {
    width: calc(68% - 4.5rem);
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;
	margin-top: 1rem;
}

	.footer-links div.footer-links-blocks {
		width: 18%;
		height: auto;
	}
	.footer-links div.footer-links-blocks:nth-child(3) {
		width: 20%;
		height: auto;
	}
	.footer-links div.footer-links-blocks:nth-child(4) {
		width: 33%;
		height: auto;
	}

	h4.footer-heading{
		font-family: "Poppins", sans-serif;
		font-size: 1.2rem;		
		font-weight: 600;
		color: #000000;
		margin-bottom: 7%;
	}

	.footer-links-blocks ul{
		font:400 0.875rem "Poppins", sans-serif;
		text-decoration: none;
		list-style: none;
		margin-top: 4%;
		color: #5B5F63;
	}
		.footer-links-blocks ul li{
			margin-bottom: .6rem;
		}
		.footer-links-blocks a {
			text-decoration: none;
			color: #5B5F63;
		}
		.footer-links-blocks a:hover {
			color: #FC6B21;
			transition: background-color 0.4s ease, color 0.4s ease, border-color 0.4s ease;
		}
		.footer-links div.footer-links-blocks:nth-child(4) li{
			margin-bottom: .875rem;
			display: flex;
			align-content: center;
			align-items: center;
		}
		.footer-links div.footer-links-blocks:nth-child(4) li a{
			display: flex;
			align-content: center;
			align-items: center;
		}
		.footer-links div.footer-links-blocks:nth-child(4) li a img{
			margin-right: 1rem;
		}
		
.copyright-section {
    width: 100%;
    height: auto;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #175021;
    display: flex;
    justify-content: center;
    align-items: center;
}
	.copyright-section p {
		font-family: "Poppins", sans-serif;
		font-size: 0.75rem;
		font-weight: 400;
		color: #ffffff;
	}