.inquiry-formBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1% 25%;
    border: 1px solid #e6e6e6;
    padding: 1rem;
    border-radius: 0.5rem;
}
.inquiry-form{
    width: 100%;
}
.inquiry-form-label{
    color: #63686B;
}
.inquiry-form-heading{
    font-size: 1rem;
    color: #286c26;
    margin: 0.5rem 0;
}
.inquiry-inputbox{
    font-size: 1rem;
    padding: 1rem 0.4rem;
    border: 1px solid #f1f1f1;
    border-radius: 0.5rem;
    width: 100%;
}
.radio-option-row{
    display: flex;
    color: #63686B;
    width: 100%;
}
.radio-options{
    display: flex;
    margin-left: 0.2rem;
    gap: 0.2rem;
}
.travle-info-row{
    display: flex;
    gap: 0.5rem;
    width: 100%;
    padding: 1rem 0.4rem;
    align-items: center;
}
.travle-package{
    font-size: 1rem;
    width: 80%;
    padding: 1rem 0.4rem;
    background: none;
    color: #63686B;
    border: 1px solid #f1f1f1;
    border-radius: 0.5rem;
}

/* For Warp the Input */
.mul-col{
    display: flex;
	justify-content: space-between;
    align-items: center;
	margin-bottom: 1rem;
	width: 100%;
	flex-wrap: wrap;
}
.inquiry-form .col-two, .inquiry-form .col-three{
    display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
	height: auto;
}
.col-two{
    width: 48%;
}
.col-three{
    width: 30%;
}