#navigation-top{
	font:normal .9rem/44px Poppins, "sans-serif";
	height:3rem;
	display: flex;
	width: 100%;
	vertical-align: middle;
	justify-content: space-between;
	align-items: center;
	background-color: #397644;
}
	
		#navigation ul.nav-left {
			display: flex;
			margin-left: 3%;
			width: 70%;
		}
		#navigation ul.nav-right {
			display: flex;
			margin-right: 5%;
			width: 10%;
		}
			#navigation ul.nav-left li, #navigation ul.nav-right li{
				list-style: none;
				width: auto;
				display: flex;
				padding: 0 1rem;
				position: relative;
			}
			#navigation ul.nav-right li{
				margin-left: auto;
			}
				#navigation ul.nav-left li a:hover, #navigation ul.nav-right li a:hover{
					color: #F07F1E;
				}
			
			
