
    body {
    overflow-x: hidden;

}
.packge-details-container{
    margin:1.25rem 15%;
    display: flex;
}

h1.package-title {
	font:600 1.8rem Poppins, "Work Sans", "sans-serif";
	margin:.5rem 1rem 1rem 0;
	letter-spacing: 0;
}
h2.package-sub-title{
	font-size: 1.25rem;
	text-transform: none;
}
.main-container{
    width: 60%;
    margin-right: 3%;
}
.main-container .container-img{
    width: 100%;
    aspect-ratio: 546/300;
    object-fit: cover;
	border-radius: .5rem;
}
.package-note{
    display: flex;
    align-items: center;
    justify-content:space-between;
	width: 100%;
	height: 2rem;
	padding-bottom: 1rem;
	border-bottom: 1px solid #e0e0e0;
	margin-bottom: 1.5rem;
}
.package-note .duration, .package-note .country-of-origin, .package-note .package-price {
	font: 400 1.25rem Poppins, "Work Sans", "sans-serif";
    display: flex;
    align-items: center;
    column-gap: .825rem;
	flex-flow: row;
}
.package-note a{
	color:#00B8E1; 
}

.horizontal-divition{
    width: 100%;
    border-bottom: 1px solid #e0e0e0;
    margin: 1.5rem 0;
}

/* Description */
.package-detail, .itinerary, .package-includes, .package-excludes{
	width: 100%;
	margin: 0 0 1.5rem 0;
	padding-bottom: 1rem;
	border-bottom: 1px solid #e0e0e0;
}
.package-desc{
    width: 100%;
    height: auto;
    font-size: 0.938rem;
    color: #515151;
    overflow: hidden;
}
.collaps-place-description-content{
    height: auto;
}

/* Itinerary */
.itinerary, .brief {
	color: #63686B;
}
.itinerary strong, .itinerary b, .brief strong, .brief b  {
	font-weight: 600;
	color: #000;
    font-size: .8rem;
    
}
.itinerary b{
    font-size: 1rem;
}


/* Package Includes */
.package-includes, .package-excludes{
    font-size: 1rem;
    color: #515151;
}
ul.pack-includes, ul.pack-excludes  {
	display: flex;
	flex-flow: column;
	margin-left: 1rem;
	padding: 0;
}
ul.pack-includes li{
	background: url("../images/icon/include-icon.svg") no-repeat left;
	line-height: 1.5rem;
	vertical-align: middle;
	margin-bottom: 1rem;
	padding-left: 2.5rem;
}
ul.pack-excludes li{
	background: url("../images/icon/exclude-icon.svg") no-repeat left;
	line-height: 1.5rem;
	vertical-align: middle;
	margin-bottom: 1rem;
	padding-left: 2.5rem;
}

/* Right Sidebar */
.right-sidebar{
    
    display: flex;
    flex-direction: column;
    width: 35%;
}
.brief{
	font-size: .825rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border: 1px solid #e6e6e6;
    border-radius: 0.5rem;
}



.right-sidebar-formBox{
    /* width: 35%; */
    height: 27.5rem;
    border: 1px solid #e6e6e6;
    border-radius: 0.5rem;
    padding: 0.5rem .2rem 2.5rem 1.2rem;
}
.right-sidebar-formBox-content{
    width:90%
}
.right-sidebar-formBox-content h2{
    margin-left: 5.5rem;
}
.form-heading{
    /* width: 15rem; */
    font-size: 0.850rem;
    color: #808080;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.sidebar-form{
    width: 100%;
    margin-left: 4%;
}
.sidebar-form .input-box{
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  width: 100%;
  padding: 0.7rem;
  margin: 0.5rem 0rem; /* 1.2rem */
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  color: #7f7f7f;
}
.phone-group{
    display: flex;
    gap: 0.3rem;
    margin: 0.1rem 0rem; /* 1.1rem*/
}

.phone-group .ph-code{
  width: 19.85%;
  margin: 0.5rem 0;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 1rem;
  color: #7f7f7f;
  background-color: white;
}
.phone-group .ph-no{
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  width: 78.85%;
  margin: 0.5rem 0;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  color: #7f7f7f;
}
.date-group {
    display: flex;
    gap: 0.3rem;
    margin: 0; /*1.2rem*/
} 
.date-group input {
    font-family: "Poppins", sans-serif;
    font-size: 0.875rem;
    width: 50.25%;
    padding: 0.7rem;
    margin: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    color: #7f7f7f;
}
.text-msg{
    font-family: "Poppins", sans-serif;
    font-size: 0.875rem;
    width: 100%;
    padding: 0.7rem;
    margin: 0.5rem 0rem; /*1.2rem*/
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    color: #7f7f7f;
}
.package-form-submit{
    
    font-size: 1rem;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    width: 100%;
    height: 3rem;
    margin-left: 3.6rem;
    /* margin-right: 1.7rem; */
    /* margin-bottom: 1.7rem; */
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    border-radius: 30px;
    cursor: pointer;
    border: 1px solid #ff5722;
    outline: none;
    text-decoration: none;
    background-color: #ff5722;
    margin-bottom: 1%;
    align-content: center;
}
.package-form-submit:hover{
     border: 1px solid #ff5722;
     color:#ff5722;
     background-color:#fff;
}
/* Package-Box */
.other-packages{
    margin-top: 2rem;
}

.package-box{
    position: relative;
    flex: 1 ; /* 3 boxes per row */
    /* flex-wrap: wrap;
    flex-direction: column; */
    min-width: 18.5rem; /* Minimum width for responsiveness */
    min-height: 25.98rem;
    max-width: 300px; /* Optional: Set a max width */
    border: 1px solid #f1f1f1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
}
.package-card-footer {
    position: absolute;
    width: 100%;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    padding: 1.45rem 0;
    border-radius: 0 0 0.5rem 0.5rem;
  }
  .package-card-footer .footer-buttons{
    margin-left: 7%;
    margin-right: 3%;
  }
  .package-card-footer .Details{
    background: #ff5722;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 9px 13px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.5s ease;
  }
  .package-card-footer .Details:hover {
    background: #06012e;
  }
  .package-card-footer .enquire{
  border: 1px solid #ff5722 !important;
  background-color: white !important;
  color: #ff5722 !important;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.5s ease;
}
.package-card-footer .enquire:hover {
  border: 1px solid white !important;
  background-color: #06012e !important;
  color: white !important;
}
.package-card-footer .Share {
  color: #35633d;
  text-decoration: none;
  font-size: 15px;
}
.package-footer-info{
    display: flex;
    margin-left: 3.2rem;
}