.privacy-policy-headeing{
    margin: 1.5rem 15%;
    font-size: 2.5rem;
    font-family: 'Oswald', sans-serif;
}
.privacy-policy-container{
    margin: 1rem 15%;
}
.privacy-policy-subheading{
    color: #515151;
    font-size: 1.375rem;
}
.privacy-policy-content{
    margin: 0.5rem 0;
    font-size: 1rem;
    font-weight: 400;
    color: #63686B;
}
.infoLink{
    color: #1a73e8;
}
.infoLink:hover{
    text-decoration: underline;
}