.description{
    margin: 0 15%;
}
.terms_and_conditions-container{
    margin: 1rem 15%;
}
.terms_and_conditions-subheading{
    text-transform: none;
    color: #515151;
    font-size: 1.375rem;
}
.terms_and_conditions-content{
    margin: 0.5rem 0;
    font-size: 1rem;
    font-weight: 400;
    color: #63686B;
}
.infoLink{
    color: #1a73e8;
}
.infoLink:hover{
    text-decoration: underline;
}
.payment-condition{
    list-style-type: disc;
    margin-left: 1.2rem;
}
.payment-condition li{
    color: #63686B;
}
.terms_and_conditions-content span{
    font-weight: 700;
}
.below-msg{
    margin: 1% 15%;
    color: #63686B;
    font-weight: 700;
    text-align: center;
}